#!/usr/bin/make -f

PKG_PATH:=/usr/share/php/EaseTWB5
BUILD_DIR:=build

%:
	dh $@

override_dh_prep:
	mkdir -p docs
	rm docs/* -rf
	phpdoc -d src --title "Vitex Software's Ease Twitter Bootstrap5"
	mv .phpdoc/build/* docs
	dh_prep


override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

override_dh_install:
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//' `'"'  composer.json |sponge debian/tmp/composer.json
	dh_install
	phpab --output debian/php-vitexsoftware-ease-twbootstrap5/usr/share/php/EaseTWB5/autoload.php --basedir debian/php-vitexsoftware-ease-twbootstrap5/usr/share/php/EaseTWB5/ --tolerant debian/php-vitexsoftware-ease-twbootstrap5/usr/share/php/EaseTWB5/
	echo 'require_once("/usr/share/php/EaseHtml/autoload.php");' >> debian/php-vitexsoftware-ease-twbootstrap5/usr/share/php/EaseTWB5/autoload.php
	install -m0755 -d debian/php-vitexsoftware-ease-twbootstrap5/usr/share/pkg-php-tools/autoloaders
	echo 'deb ease-core EaseTWB5/autoload.php' > debian/php-vitexsoftware-ease-twbootstrap5/usr/share/pkg-php-tools/autoloaders/php-vitexsoftware-ease-twbootstrap5
